<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Kartobanova</title>
<link rel="icon" href="images/favicon.ico" type="image/ico" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/ico" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->    

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/prototype/1/prototype.js'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/scriptaculous/1/scriptaculous.js'></script>
<script type='text/javascript' src='/javascripts/lightview.js'></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/lightview.css" />

<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
<%= stylesheet_link_tag 'custom', :media => 'screen' %>
<%= javascript_include_tag :defaults %>
<%= csrf_meta_tag %>
  

<style type="text/css">

    html {
		height: 100%;
		width: 100%;
		overflow: auto;
	}
	body {
		text-align: center;
		background-image:url(/images/bag.jpg);
		background-repeat:no-repeat;
        margin:0px;
        padding:0px;
        border:none;
	}
	.nav-links {
		background:url(/images/nav-backgr.jpg);
	}
	.contact-body {
		
		height:700px;
		width:1200px;
	}
	p {
		position:absolute;
		top: 100px;
		left: 380px;
	}
	table {
		position:absolute;
		top: 100px;
		left: 150px;
		width: 850px;
		
	}

	        
</style>

</head>
  <body>
	<div class="contact-body">
      <header>
        <nav class="nav-links">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Collections", collections_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </nav>
      </header>
      <section class="roun">
		<p>
			<%= @collection.name %>
		</p>

		<% unless @collection.outfits.empty? %>
			<table cellspacing="10" class="outfits" >
				<tr>
					<td class="outfit">
						<%= render @outfits %>
					</td>
				</tr>
			</table>
		<%= will_paginate @outfits %>
      <% end %>
	 
	 </section>
    </div>
  </body>
</html>

