<p id="notice"><%= notice %></p>

<p>
  <%= @collection.name %>
</p>

	  <% unless @collection.outfits.empty? %>
        <table cellspacing="10" class="outfits" >
		  <tr>
			<td class="outfit">
				<%= render @outfits %>
			</td>
		   </tr>
          </table>
		<%= will_paginate @outfits %>
      <% end %>
    


<%= link_to 'Back', collections_path %>
