<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @outfit.name %>
</p>

<p>
  <b>Collection:</b>
  <%= @outfit.collection_id %>
</p>


<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
